.banner {
  /* margin-top: -10vh; */
  height: 80vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 300px;
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_buttons{
    display: flex;
}

.banner_button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgb(51, 51, 51, 0.5);
}
.banner_button:hover{
    color: #000;
    background-color: #c6c6c6;
    transition: all 0.2s;
}
.play{
    background-color: var(--bg-color);
  /* color: #111; */
    transition: all 0.2s;
}
.banner_description{
    width: 45rem;
    list-style: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}
.banner_fadeBottom{
height: 40vh;
background-image: linear-gradient(
    180deg,
    transparent,
    #373737,
    #111
);

}