.row{
  position: relative;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
.row {
  margin-left: 20px;
  color: white;
}



.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
 
  @media (min-width: 768px) {
    left: 5rem; 
  }
 
  border-radius: 999px;
  /* background-color: rgba(0, 0, 0, 0.5);   */
  z-index: 10;
}

.leftArrow:hover {
  background-color: rgba(0, 0, 0, 0.75);
}


.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem; 
  @media (min-width: 768px) {
    right: 5rem; 
  }
  justify-content: center;
  border-radius: 9999px; 
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 10;
}

.rightArrow:hover {
  background-color: rgba(0, 0, 0, 0.75); /
}
