.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  height: 10vh;
}
input{
  border: 2px solid wheat;
  border-radius: 8px;

}
.header_container{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_right ul{
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}
.header_left ul{
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}